.dice__single__container {
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
header section {
    margin-top: 0.33rem;
}
main {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
